body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 5px 5px;
  background-image: url(../images/wormz.png);
}

img {
  cursor: pointer;
  width: 100%;
  height: fit-content;
}

button {
  padding: 10px 15px;
  background-color: rgb(56, 148, 148);
  border-radius: 10px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

#addButton {
  padding: 10px 15px;
  background-color: rgb(56, 148, 148);
  border-radius: 10px;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}

form {
  float: right;
  margin: 0 50px;
}

label {
  font-size: 18px;
}

form > label {
  font-size: 24px;
}

#physics-input {
  height: 30px;
  width: auto;
  border: 2px solid rgb(231, 226, 226);
  margin: 5px 0;
}

#physics {
  width: 70%;
  display: flow-root;
}

.display {
  display: inline-block;
  margin: 1rem;
  max-width: 40%;
  background-color: aliceblue
}

.display > p {
  margin: 0.5rem 0.5rem;
}

@media only screen and (max-width: 700px) {
  form {
    margin: unset;
    float: none;
  }

  .display {
    max-width: unset;
  }
}